{{- define "main" -}}
<div class="section simplePage">
    <div class="container">
        {{ .Content }}
        <br>
        <div class="columns">
            <div class="column">
                <h3 class="has-text-left">Get in Touch</h3>
                <p><a href="mailto:rosie.barnett1@nhs.net"></a>rosie.barnett1@nhs.net</p>
                <p><a href="mailto:hello@projectnightingale.org"></a>hello@projectnightingale.org</p>
                <br>
                <h3 class="has-text-left">Technical issues?</h3>
                <p>Please contact <a href="mailto:help@umotif.com">help@umotif.com</a></p>
            </div>
            <div class="column">
                <form name="contact-us-form" action="/thank-you/" method="POST" data-netlify="true">
                    <input type="hidden" name="form-name" value="contact-us-form" />
                    <div class="field">
                        <label class="label" for="contact-form-name">Name</label>
                        <div class="control">
                            <input id="contact-form-name" name="name" type="text" placeholder="John Smith" class="input" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="contact-form-email">Email:</label>
                        <div class="control">
                            <input id="contact-form-email" name="Email" type="email" placeholder="Email Address" class="input" required>
                        </div>
                    </div>
                    <div class="field">
                        <label for="contact-form-message" class="label">Message:</label>
                        <div class="control">
                            <textarea id="contact-form-message" name="message" class="textarea" required placeholder="Hey..."></textarea>
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-right">
                        <div class="control">
                            <button type="submit" value="Submit" id="Form-submit" class="button is-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{- end -}}
