<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item logo" href="https://bulma.io">
                    <img src="/uploads/logo-516c18ef04e0eead60f85595d9f8b56a.png" alt="{{ .Site.Title }}" width="150">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" onclick="navClicked(this)">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navbar-menu">
                <div class="navbar-end">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                        <a href="{{ .URL }}" class="navbar-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}  is-active{{end}}" title="{{ .Title }}">
                            {{ .Name }}
                        </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </nav>
</header>
<script>
    function navClicked(el) {
        el.classList.toggle('is-active');
        document.getElementById('navbar-menu').classList.toggle('is-active');
    }
</script>
