<div class="section">
  <div class="container">
      <form name="emailSignup" action="" method="POST" data-netlify="true">
          <input type="hidden" name="form-name" value="Email signup" />
          <div class="field has-addons has-addons-centered">
              <div class="control">
                  <input id="contact-form-email" name="Email" type="email" placeholder="Email Address" class="input" required="true">
              </div>
              <div class="control">
                  <button type="submit" value="Submit" id="Form-submit" class="button is-primary">Submit</button>
              </div>
          </div>
      </form>
  </div>
</div>
